<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Uploaded Files</h1>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Email</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <% files.forEach(file => { %>
                <tr>
                    <td><%= file.user.name %></td>
                    <td><%= file.user.email %></td>
                    <td><a href="/download/<%= encodeURIComponent(file.filepath) %>">Download</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
