<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalog</title>
    <style>
        table{
            margin:5px;
            border: 2px solid grey;
        }
        td,th{
            border: 2px solid grey;
            padding: 8px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/categories">Categories</a> |
            <a href="/products">Products</a>
        </nav>
    </header>
    <main>
    </main>
</body>
</html>
