<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>
    <h1>Edit Student</h1>
    <form action="/students/edit/<%= student._id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= student.name %>" required><br><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="<%= student.age %>" required><br><br>
        <label for="grade">Grade:</label>
        <input type="text" id="grade" name="grade" value="<%= student.grade %>" required><br><br>
        <button type="submit">Update Student</button>
    </form>
</body>
</html>
